
    <!-- masthead -->
    <div class="jumbotron">
      <h2 class="jumbotron--title">Date Checker</h2>
      <p class="jumbotron--sub-title">Research before you date.</p>
    </div><!-- /masthead -->

      <!-- intro -->
      <section class="intro">
        <div class="container">
          <h3>
            Discover if your online date is really who they say they are.
          </h3>
        </div>
      </section><!-- /intro -->  

      <!-- portfolio lr -->
      <div class="portfolio--lr">
        <div class="container">

          <div class="row">
            <!-- left -->
            <div class="col-12  col-md-7  col-lg-6">
              <img src="assets/theme/portfolio.png" class="img-responsive" alt="portfolio image"/>
            </div>
              <!-- right -->
              <div class="col-12  col-md-offset-1  col-md-4  col-lg-offset-1  col-lg-5">
                <h4 class="portfolio--title">Title</h4>
                <p class="portfolio--sub-title">Sub title</p>
                <p class="portfolio--paragraph">
                  Something about the project goes here.  Maybe a little bit more if you've got a lot to say.
                </p>
                <a href="project.html" class="btn  btn--green">take a look</a>
              </div>
          </div>

        </div>
      </div><!-- /portfolio lr -->


        <!-- portfolio list -->
        <div class="container">

          <div class="row">

            <ul class="list-unstyled  portfolio--list  cs-style-3">
              <!-- work item 1 -->
              <li class="col-sm-6  col-md-4  col-lg-4">
                <figure class="box  box--sm  text-center">
                    <img src="assets/theme/portfolio-1.jpg" class="img-responsive" alt="portfolio image 1" />
                    <figcaption>
                      <p>Project Title</p>
                      <a href="project.html" class="green  pull-right">View</a>
                    </figcaption>
                </figure>
              </li><!-- /work item 1 -->
              <!-- work item 2 -->
              <li class="col-sm-6  col-md-4  col-lg-4">
                <figure class="box  box--sm  text-center">
                    <img src="assets/theme/portfolio-2.jpg" class="img-responsive" alt="portfolio image 2" />
                    <figcaption>
                      <p>Project Title</p>
                      <a href="project.html" class="green  pull-right">View</a>
                    </figcaption>
                </figure>
              </li><!-- /work item 2 -->
              <!-- work item 3 -->
              <li class="col-sm-6  col-md-4  col-lg-4">
                <figure class="box  box--sm  text-center">
                    <img src="assets/theme/portfolio-3.jpg" class="img-responsive" alt="portfolio image 3" />
                    <figcaption>
                      <p>Project Title</p>
                      <a href="project.html" class="green  pull-right">View</a>
                    </figcaption>
                </figure>
              </li><!-- /work item 3 -->
              <!-- work item 4 -->
              <li class="col-sm-6  col-md-4  col-lg-4">
                <figure class="box  box--sm  text-center">
                    <img src="assets/theme/portfolio-3.jpg" class="img-responsive" alt="portfolio image 3" />
                    <figcaption>
                      <p>Project Title</p>
                      <a href="project.html" class="green  pull-right">View</a>
                    </figcaption>
                </figure>
              </li><!-- /work item 4 -->
              <!-- work item 5 -->
              <li class="col-sm-6  col-md-4  col-lg-4">
                <figure class="box  box--sm  text-center">
                    <img src="assets/theme/portfolio-1.jpg" class="img-responsive" alt="portfolio image 2" />
                    <figcaption>
                      <p>Project Title</p>
                      <a href="project.html" class="green  pull-right">View</a>
                    </figcaption>
                </figure>
              </li><!-- /work item 5 -->
              <!-- work item 6 -->
              <li class="col-sm-6  col-md-4  col-lg-4">
                <figure class="box  box--sm  text-center">
                    <img src="assets/theme/portfolio-2.jpg" class="img-responsive" alt="portfolio image 1" />
                    <figcaption>
                      <p>Project Title</p>
                      <a href="project.html" class="green  pull-right">View</a>
                    </figcaption>
                </figure>
              </li><!-- /work item 6 -->
            </ul>

          </div>

        </div><!-- /portfolio list -->

        <!-- twitter -->
        <section class="tweet">
          <div class="container">
            <span class="icon-twitter"></span>
            <h3 class="tweet--tweet">Why not drop us a line on Twitter?</h3>
            <p class="tweet--secondary">We'd love to hear from you!</p>
            <a href="http://www.twitter.com/nerdswithhair" target="_blank" class="btn  btn--green">@nerdswithhair</a>
          </div>
        </section><!-- /twitter -->

    <!-- footer -->
    <section class="footer  flush--top">
      <div class="container">
        <div class="row">
          <ul class="list-unstyled  col-12  col-sm-3  col-lg-2">
            <li><a href="mailto:info@nerdswithhair.com">Email</a></li>
            <li><a href="http://www.facebook.com/nerdswithhair" target="_blank">Facebook</a></li>
            <li><a href="http://www.twitter.com/nerdswithhair" target="_blank">Tweet</a></li> 
          </ul>
          <ul class="list-unstyled  col-12  col-sm-2  col-lg-2">
            <li><a href="index.html">Home</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>
            <li><a href="archives.html">Archives</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <div class="col-12  col-sm-7  col-lg-5  col-lg-offset-3  text-right  hard--right">
            <h3 class="footer--main-logo">Envy</h3>
            <p>
              Designed and built by <a href="http://www.nerdswithhair.com" target="_blank" class="underline">Nerds with Hair</a> &#169; 2013
            </p>
          </div>
        </div>
      </div>
    </section><!-- footer -->


